[extruder]
step_pin: ebb36:PD0
dir_pin: ebb36:PD1
enable_pin: !ebb36:PD2

gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 22.905740611
nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: ebb36:PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: ebb36:PA3
# control: pid
# pid_Kp: 46.005
# pid_Ki: 14.605
# pid_Kd: 36.229
control: pid
pid_Kp: 43.441
pid_Ki: 12.324
pid_Kd: 38.283
min_temp: 5
max_temp: 305
min_extrude_temp: 170
max_extrude_only_distance: 120

[tmc2209 extruder]
uart_pin: ebb36:PA15
run_current: 0.650
stealthchop_threshold: 999999
interpolate: false
